@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #111111;
  --color-secondary: #a0a0a0;
  --color-tertiary: #6b9156;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*HomePage Intro*/

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: white;
  /* cursor: url("/cursor.svg"), auto; */
}
b {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  margin: 0;
  font-weight: 600;
  line-height: 130%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2.2rem;
}
h6 {
  font-size: 2rem;
}
p,
a,
th {
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3.5rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  h6 {
    font-size: 2rem;
  }
  p,
  a {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1800px) {
  h1 {
    font-size: 6.4rem;
  }
  h2 {
    font-size: 4.8rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 4.8rem;
  }
  h5 {
    font-size: 3.2rem;
  }
  h6 {
    font-size: 2.4rem;
  }
  p,
  a {
    font-size: 1.8rem;
  }
}

.main_section {
  width: 100%;
  padding-top: 3rem;
}
.additional_padding {
  padding-top: 10rem !important;
}

.left_section_inside {
  padding: 16px;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.right_section_inside {
  padding: 16px;
}
.navbar_left {
  margin-left: 1.6rem;
}
.navbar_right {
  padding-right: 1.6rem;
}
.navbar_stroke {
  border-bottom: 1px solid rgba(53, 26, 40, 0.15);
}

.nav__item {
  padding: 1.5rem 2rem;
  font-weight: 400;
  border: 0;
  align-items: center;
  display: flex;
  transition: 0.2s ease-in;
  width: 100%;
  color: black;
  text-transform: uppercase;
}

.nav__item:hover {
  color: #666;
}
.nav__close-button {
  fill: white;
  cursor: pointer;
  /* position: absolute;
  top: 17px;
  left: 13px; */
  width: 30px;
  height: 30px;
}

.collapsible--expanded {
  max-height: 100vh;
  opacity: 100;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease-in;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.collapsible--collapsed {
  right: 0%;
}

@media screen and (min-width: 768px) {
  .main_section {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
  .left_section_inside {
    padding-left: 50px;
  }
  .right_section_inside {
    padding-right: 50px;
  }
  .navbar_left {
    margin-left: 5rem;
  }
  .navbar_right {
    margin-right: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .collapsible--expanded {
    width: 40%;
    /* padding-left: 2.5rem; */
  }
  .main_section {
    padding-top: 7rem;
    padding-bottom: 7rem;
    max-width: 1140px;
  }

  .left_section_inside {
    padding-left: 9rem;
  }
  .right_section_inside {
    padding-right: 9rem;
  }
  .navbar_left {
    margin-left: 9rem;
  }
  .navbar_right {
    margin-right: 9rem;
  }
  .additional_padding {
    padding-top: 15rem !important;
  }
}
@media screen and (min-width: 1240px) {
  .main_section {
    max-width: 1340px;
  }
}
@media screen and (min-width: 1536px) {
  /* .main_section {
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  } */
  .main_section {
    max-width: 1440px;
  }
  .left_section_inside {
    padding-left: 12rem;
  }
  .right_section_inside {
    padding-right: 12rem;
  }
  .navbar_left {
    margin-left: 12rem;
  }
  .navbar_right {
    margin-right: 12rem;
  }
  .collapsible--expanded {
    padding-left: 8rem;
  }
}
@media screen and (min-width: 1836px) {
  .main_section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .left_section_inside {
    padding-left: 13.8rem;
  }
  .right_section_inside {
    padding-right: 13.8rem;
  }
  .navbar_left {
    margin-left: 13.8rem;
  }
  .navbar_right {
    margin-right: 13.8rem;
  }
  .additional_padding {
    padding-top: 19rem !important;
  }
}

.intro_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}

@media screen and (min-width: 1370px) {
  .intro_bg {
    min-height: 100vh;
  }
}

.btn {
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.6rem;
  outline: 0;
  padding: 1.2rem 2.4rem;
  text-align: center;
  white-space: nowrap;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-in;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.6rem;
}

@media screen and (min-width: 1800px) {
  .btn {
    font-size: 1.8rem;
    padding: 1.2rem 2.4rem;
  }
}
.btn--primary {
  background: var(--global-palette1);
  color: white;
}
.btn--primary:hover {
  color: black;
}
.btn--secondary {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-weight: 600;
}
.btn--secondary:hover {
  background: black;
  color: white;
}
.btn--tertiary {
  background: var(--color-tertiary);

  border: 1px solid white;
  color: white;
}
.btn--tertiary:hover {
  background: #698758;
  /* color: black; */
}
.btn--fourthtiary {
  background: black;
  color: #ffcb05;
}
.btn--fourthtiary:hover {
  color: var(--color-secondary);
  background: white;
}
.btn--fifthtiary {
  background: var(--color-primary);
  color: black;
  border: 1px solid black;
}
.btn--fifthtiary:hover {
  color: white;
  background: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}
.btn--sixthtiary {
  background: white;
  color: #dd5d00;
  border: 1px solid white;
}
.btn--sixthtiary:hover {
  color: white;
  background: black;
  border: 1px solid black;
}
.btn--border {
  color: white;
  border: 1px solid white;
}
.btn--border:hover {
  background: white;
  color: black;
}
.btn--white {
  background: white;
  color: black;
}

.btn--navbar {
  background: white;
  border-radius: 8px !important;
  color: #47261c;
}
.btn--navbar:hover {
  background: #f5f3f2;
}

.btn--green {
  background-color: #298040;
  color: white;
}

.btn--link {
  color: var(--global-palette1);
}
.btn--link:hover {
  text-decoration: underline;
}

.btn--product-active {
  background: white;
  z-index: 2;
  border-bottom-color: white;
  border-right: 1px solid #cbd5e0;
  border-left: 1px solid #cbd5e0;
  border-top: 1px solid #cbd5e0;
  border-radius: 3px 3px 0 0;
}
.btn--product {
  color: #545855;
  background-color: var(--global-palette7);
  border: 1px solid #cbd5e0;
  border-radius: 3px 3px 0 0;
}

.button_close2 {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 2700;
  display: flex;
  border-radius: 10px;
  padding: 2rem;
  cursor: pointer;
  transition: 0.1s ease-in;
}
/* .button_close2:hover {
  scale: 1.15;
} */

/*Navbar */

.navbar {
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.navbar_homepage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 10;
  position: relative;
}

.navbar_second_group2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-direction: row;
}

.bg_overlay {
  opacity: 0.78;
  background: linear-gradient(
    160deg,
    rgb(49, 83, 61) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.white_text h4,
.white_text p {
  color: white;
}

.massive_h1 {
  font-size: 80px;
}
@media screen and (min-width: 1800px) {
  .massive_h1 {
    font-size: 200px !important;
  }
}

.own_edge {
  display: flex;
  justify-content: center;
  padding: 1.6rem;
}

@media screen and (min-width: 768px) {
  .own_edge {
    padding: 2.5rem;
  }
}
/* @media screen and (min-width: 1536px) {
  .own_edge {
    padding-left: 8rem;
    padding-right: 8rem;
  }
} */

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
  color: #cccccc;
  font-weight: 400;
}

.footer p,
.footer a {
  font-weight: 200;
  color: #cccccc;
  font-size: 18px;
}
.make_underline p,
.make_underline a {
  text-decoration: underline;
}

.behind_card_background {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6.5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  align-items: center;
  padding: 1rem;
  /* opacity: 0.6; */
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2400;
}

.own_border {
  border-bottom: 1px solid rgba(34, 34, 34, 0.15);

  padding-bottom: 24.5px;
  padding-top: 24.5px;
}
.own_border_both {
  border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}

@media screen and (min-width: 768px) {
  .own_border {
    padding-bottom: 24.5px;
    padding-top: 24.5px;
  }
}

/*COntact form*/
.contact_form input[type="text"],
.contact_form input[type="email"],
select {
  padding: 10px;
  background-color: #f1f1f1;
  color: var(--color-primary);
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0rem !important;
  border: none;
  border-bottom: 1px solid rgba(17, 17, 17, 0.25);
  /* border: 1px solid var(--color-primary); */
  height: 5rem;
  font-size: 1.8rem;
  opacity: 0.6;
  font-weight: 600;
}

.contact_form input[type="text"]::placeholder {
  text-align: left;
}

.contact_form input[type="text"]::placeholder,
.contact_form input[type="email"]::placeholder,
textarea::placeholder {
  color: var(--primary-color);
  font-weight: 600;
}
textarea {
  padding: 10px;
  background-color: #f1f1f1;
  color: var(--primary-color);
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0rem !important;
  border: none;
  border-bottom: 1px solid rgba(17, 17, 17, 0.25);
  font-size: 1.8rem;
  resize: none;
  opacity: 0.6;
  font-weight: 600;
}

.contact_form input[type="text"]:focus,
.contact_form input[type="email"]:focus,
textarea:focus {
  border-bottom: 3px solid black;
}

@media screen and (min-width: 1500px) {
  .contact_form input[type="text"],
  .contact_form input[type="email"] {
    height: 7rem;
    font-size: 2.4rem;
  }
  textarea {
    font-size: 2.4rem;
  }
}

.square {
  width: 18px;
  height: 18px;
  background-color: #f1f1f1;
  border: 1px solid black; /* Adding a black border */
}

.disabledPrimaryBtn {
  opacity: 0.8;
  cursor: not-allowed;
}

.own_padding_top {
  padding-top: 12px;
}
@media screen and (min-width: 1500px) {
  .own_padding_top {
    padding-top: 40px;
  }
}

.circle {
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.15);

  border-radius: 50%;
}

.active_circle {
  background-color: black;
}

@media screen and (min-width: 768px) {
  .tablet_padding_none {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .tablet_padding_none {
    padding-bottom: none;
  }
}

@media screen and (min-width: 768px) {
  .swiper {
    border-radius: 12px;
  }
}

.flex_col {
  flex-direction: column;
}

.active_navbar {
  background-color: #77a75d;
  border-radius: 16px;
  padding: 24px;
  color: white;
  text-transform: uppercase;
}

.item_navbar {
  padding: 24px;
  border-radius: 16px;
  text-align: center;
}
.item_navbar:hover {
  background-color: rgba(41, 128, 64, 0.1);
  color: black;
}

.light_green {
  background: rgba(86, 171, 108, 0.15);
}

.admin_section_2fr {
  width: 100%;
}
.admin_section_2fr tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.admin_section_2fr tr {
  border-bottom: 1px solid black;
}

.products_admin p {
  color: black;
}

.products_admin input[type="text"],
.products_admin input[type="number"],
.products_admin textarea {
  padding: 10px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid black;
  height: 4.5rem;
  font-size: 1.4rem;
  width: 75%;
  border-radius: 0px;
}

.product_admin_row {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-bottom: 2rem; */
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.product_admin_col {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.products_admin input[type="text"]:focus,
.products_admin input[type="number"]:focus {
  border: 3px solid black !important;
}

.search input[type="text"]:focus {
  border: 3px solid black !important;
}

@media screen and (min-width: 768px) {
  .product_admin_row {
    flex-direction: row;
    align-items: center;
  }
}

.disabledPrimaryBtn {
  opacity: 0.7;
  cursor: not-allowed;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 80%;
  overflow: hidden;
}
.modal_close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.litle_line {
  height: auto;
  width: 1px;
  background: rgba(34, 34, 34, 0.25);
  margin-left: 40px;
  margin-right: 40px;
}

/*Toggle */

.toogle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(53, 26, 40, 0.15);
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.popup_message {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: white;
  border: 1px solid black;
  padding: 1.6rem;
  position: fixed;
  z-index: 2500;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .popup_message {
    width: 450px;
    padding: 5rem;
  }
}

@media screen and (min-width: 1556px) {
  .popup_message {
    width: 550px;
  }
}
@media screen and (min-width: 1800px) {
  .popup_message {
    width: 650px;
  }
}

.bg-svg-pattern {
  background-image: url("/bgbroown.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bg_green_opacity {
  background: rgba(119, 167, 93, 0.25);
}

.contact_page h5 {
  padding-top: 16px;
  text-transform: uppercase;
}

.rdw-editor-main {
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;
  height: 500px !important;
  background: white;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3.5rem;
  }
  h5 {
    font-size: 3rem;
  }
  h6 {
    font-size: 2.5rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
  }

  table th {
    background-color: rgba(61, 37, 20, 0.05);
    font-weight: 700;
    text-align: left;
  }
  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  table td,
  table th {
    border: 1px solid rgba(61, 37, 20, 0.12);
    box-sizing: border-box;
    min-width: 1em;
    padding: 6px 8px;
    position: relative;
    vertical-align: top;
  }
}

button.is-active,
input.is-active,
select.is-active,
textarea.is-active {
  background: #433f8f;
  color: #ffffff;
}

.button-group {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.control-group {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-group button,
.button-group input,
.button-group select,
.button-group textarea {
  background: #ededed;
  border-radius: 0.5rem;
  border: none;
  color: var(--black);
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  margin: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.ProseMirror {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  min-height: 600px;
}

button.is-active,
input.is-active,
select.is-active,
textarea.is-active {
  background: #433f8f !important;
  color: #ffffff !important;
}
p:empty {
  display: block;
  min-height: 1em;
}

.content a {
  text-decoration: underline;
}

ol,
ul,
menu {
  list-style: disc;
  margin: auto;
  padding: revert;
}

.disabledbtn {
  opacity: 0.7;
  cursor: not-allowed;
}

.homepage h6 {
  font-size: 2rem;
}

/* youtube */

.youtube_video {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fullscreen-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  z-index: 200;
}

.fullscreen-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*Cookies */
.cookies_container {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 480px;
  width: 100%;
  background-color: white;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  gap: 2rem;
  border: 1px solid black;
  border-radius: 20px;
  font-family: system-ui;
}

.cookie_settings_all {
  padding: 5rem;
  background-color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--fourthiary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 20px 6px;
  width: 95%;
  height: 90vh;
  border-radius: 30px;
  z-index: 1000;
}
.cookie_settings_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  background-color: var(--fourthiary-color);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  gap: 2rem;
  color: white;
  overflow-y: auto;
  max-height: 85%;
}

.switch_label {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 600;
}
.switch_label::after {
  content: "-->";
}
.description_cookies_text {
  padding-top: 1rem;
  font-size: 1.4rem !important;
  font-weight: 100;
}
.cookie_settings_modal::-webkit-scrollbar {
  width: 8px;
  margin-right: 20px;
}

.cookie_settings_modal::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.cookie_settings_modal::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

.cookie_settings_modal::-webkit-scrollbar-track {
  background-color: var(--fourthiary-color); /* Color of the scrollbar track */
}

@media screen and (min-width: 768px) {
  .cookies_container {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .cookie_settings_all {
    width: 80vw;
    height: 50vh;
  }

  .cookies_button_container {
    width: fit-content;
  }
}

@media screen and (min-width: 1124px) {
  .cookies_container {
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
  .cookie_settings_all {
    width: 50vw;
    height: 90vh;
  }
}
@media screen and (min-width: 1600px) {
  .cookies_container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .switch_label {
    font-size: 2.5rem;
  }
  .description_cookies_text {
    font-size: 1.6rem !important;
  }
}

.highlight {
  color: red;
}

.bg_table_admin {
  background: #dedede;
}

.content img {
  margin: auto;
}

#msdoc-renderer {
  height: 800px;
}
